langchain
langchain-core
langchain-openai
langchain-groq
langchain-chroma
langchain-classic
langchain-community
openai
groq
python-dotenv
unstructured[all-docs]
unstructured[images]
pillow
lxml
opencv-python-headless
pdf2image
pytesseract
tiktoken
chromadb
